<div class="container">
  <div class="selectCont">
    <span>Select Color</span>
    <input class="colorPicker" [(colorPicker)]="color" [style.background]="color" />
    <mat-form-field appearance="fill">
      <mat-label>Select a size</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="100">100</mat-option>
        <mat-option value="225">225</mat-option>
        <mat-option value="400">400</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="btns">
      <button class="save" (click)='save()'>Save</button>
      <button class="delete">Delete</button>
    </div>
  </div>


  <div class="circleMain" [class]='selected === "100" ? "ten" : selected === "225" ? "fifteen" : "twenty" '>

    <app-circles
    *ngFor='let item of counter(selected); let index = index' 
    [index]='index'
    [background]='item ? item : "transparent"'
    (changeColor)="getColor($event)">
      >
    </app-circles>
  </div>
</div>